<html style="-webkit-text-size-adjust: none;">
    <head>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body style="margin:20px;margin-top:20px;">
        
        <!-- TITLE -->
        <p style="font-family:HelveticaNeue; font-size:16px; margin:0px; color:#666666"><b>Impressum</b></p>
        <br/>
        <p style="font-family:HelveticaNeue; font-size:12px; margin:0px; color:#666666">
        
        <b>Landmann GmbH &amp; Co. Handels-KG</b><br/>
        Am Binnenfeld 3-5<br/>
        D-27711 Osterholz-Scharmbeck<br/>
        Telefon: +49 (4791) 308-0<br/>
        Telefax: +49 (4791) 308-35/36<br/>
        AG Bremen, HRA 23097<br/>
        <br/>
        PhG: LANDMANN Verwaltungs GmbH, AG Bremen, HRB 11244<br/>
        <br/>
        Geschäftsführer: Andreas Schubert, Peter Kietzmann<br/>
        Erfüllungsort: Bremen - Gerichtsstand Bremen<br/>
        St.-Nr. 36/214/02006 - USt-IdNr. DE 813783699<br/>
        GLN 4000810000005<br/>
        <br/>
        Inhaltlich verantwortlich gemäß<br/>
        § 10 Absatz 3 MDStV ist: Herr F. Lodders<br/>
        <br/>
        Dieses Informationsangebot wurde mit Sorgfalt erstellt und wird ständig überarbeitet. Dessen ungeachtet kann für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte betreiberseitig keine Gewähr übernommen werden.<br/>
        <br/>
        <br/>
        Konzept und Design:<br/>
        <b>Brunnée Werbeagentur</b><br/>
        info@brunnee.de<br/>
        www.brunnee.de<br/>
        Auf den Häfen 12-15<br/>
        28203 Bremen<br/>
        Für weitere Informationen: Tel.: 0421 700605<br/>
        <br/>
        <br/>
        Technische Realisierung:<br/>
        <b>Mobilinga GmbH</b><br/>
        Hermann-Köhl-Str. 7<br/>
        28199 Bremen<br/>
        Deutschland<br/>
        www.mobilinga.de<br/>
        <br/>
        HRB 24770 HB<br/>
        vertreten durch den Geschäftsführer Dr. Matthias Kose<br/>
        <br/>
        
        </p>
    </body>
</html>