<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Comment</key>
		<string>Männerabend</string>
		<key>Preview</key>
		<dict>
			<key>Thumbnail</key>
			<string>invitations_card1_thumbnail.png</string>
			<key>Large</key>
			<string>invitations_card1_large.png</string>
		</dict>
		<key>Elements</key>
		<dict>
			<key>BackgroundImage</key>
			<string>invitations_card1_template_background.png</string>
			<key>DateAndTime</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedMedium</string>
					<key>Size</key>
					<integer>14</integer>
					<key>Color</key>
					<string>178,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>right</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,316},{228,19}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
				<key>HasWeekday</key>
				<false/>
				<key>TimePrefix</key>
				<string></string>
			</dict>
			<key>Location</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedMedium</string>
					<key>Size</key>
					<real>10.5</real>
					<key>Color</key>
					<string>178,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>right</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,331},{228,19}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
				<key>HasCityInCaps</key>
				<false/>
			</dict>
			<key>Title</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedExtraBold</string>
					<key>Size</key>
					<integer>32</integer>
					<key>Color</key>
					<string>178,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{0,207},{225,54}}</string>
			</dict>
			<key>Text</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedMedium</string>
					<key>Size</key>
					<integer>10</integer>
					<key>Color</key>
					<string>64,64,64</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>right</string>
					<key>VAlignment</key>
					<string>top</string>
					<key>NumberOfLines</key>
					<string>4</string>
					<key>LineHeight</key>
					<string>12</string>
				</dict>
				<key>Rect</key>
				<string>{{12,267},{228,59}}</string>
			</dict>
			<key>CustomImage</key>
			<dict>
				<key>Rect</key>
				<string>{{0,12},{253,248}}</string>
				<key>DefaultImage</key>
				<string>invitations_card1_template_default_image.jpg</string>
			</dict>
			<key>Defaults</key>
			<dict>
				<key>Text</key>
				<string>Die Sonne lacht, das Wochenende steht vor der Tür und das Bier ist kalt gestellt. Was läge also näher den guten Landmann anzufeuern und einen herrlichen Grillabend mit Freundenzu verbringen? Ich denke…NICHT‘S!</string>
				<key>Title</key>
				<string>Männerabend</string>
				<key>City</key>
				<string>12345 Musterhausen</string>
				<key>Street</key>
				<string>Musterhausenstraße 123b</string>
				<key>Time</key>
				<string>18.00 Uhr</string>
				<key>Date</key>
				<string>24.08.2013</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Comment</key>
		<string>BBQ</string>
		<key>Preview</key>
		<dict>
			<key>Thumbnail</key>
			<string>invitations_card2_thumbnail.png</string>
			<key>Large</key>
			<string>invitations_card2_large.png</string>
		</dict>
		<key>Elements</key>
		<dict>
			<key>BackgroundImage</key>
			<string>invitations_card2_template_background.png</string>
			<key>Date</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>GillSans-Light</string>
					<key>Size</key>
					<integer>12</integer>
					<key>Color</key>
					<string>255,255,255</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{135,219},{64,15}}</string>
			</dict>
			<key>Time</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>GillSans-Light</string>
					<key>Size</key>
					<integer>12</integer>
					<key>Color</key>
					<string>255,255,255</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{135,234},{64,15}}</string>
			</dict>
			<key>Location</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>GillSans-Light</string>
					<key>Size</key>
					<integer>11</integer>
					<key>Color</key>
					<string>49,35,24</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>right</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
					<key>LineHeight</key>
					<string>13</string>
				</dict>
				<key>Rect</key>
				<string>{{11,334},{229,13}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Zapfino</string>
					<key>Size</key>
					<integer>13</integer>
					<key>Color</key>
					<string>146,34,36</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{11,269},{229,47}}</string>
			</dict>
			<key>Text</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>GillSans-Light</string>
					<key>Size</key>
					<integer>11</integer>
					<key>Color</key>
					<string>49,35,24</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
					<key>LineHeight</key>
					<string>13</string>
				</dict>
				<key>Rect</key>
				<string>{{11,321},{229,13}}</string>
			</dict>
			<key>CustomImage</key>
			<dict>
				<key>Rect</key>
				<string>{{11,11},{229,248}}</string>
				<key>DefaultImage</key>
				<string>invitations_card2_template_default_image.jpg</string>
			</dict>
			<key>OptionalImage</key>
			<dict>
				<key>Rect</key>
				<string>{{11,11},{229,248}}</string>
				<key>Image</key>
				<string>invitations_card2_template_optional_image.png</string>
				<key>Text</key>
				<string>BBQ anzeigen:</string>
			</dict>
			<key>Defaults</key>
			<dict>
				<key>Text</key>
				<string>Bei Sabine &amp; Peter – Wir freuen uns auf Euch!</string>
				<key>Title</key>
				<string>Einladung zum Grillen</string>
				<key>City</key>
				<string>12345 Musterhausen</string>
				<key>Street</key>
				<string>Musterhausenstraße 123b</string>
				<key>Time</key>
				<string>18.00 Uhr</string>
				<key>Date</key>
				<string>24.08.2013</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Comment</key>
		<string>Wappen</string>
		<key>Preview</key>
		<dict>
			<key>Thumbnail</key>
			<string>invitations_card3_thumbnail.png</string>
			<key>Large</key>
			<string>invitations_card3_large.png</string>
		</dict>
		<key>Elements</key>
		<dict>
			<key>BackgroundImage</key>
			<string>invitations_card3_template_background.png</string>
			<key>DateAndTime</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>AmericanTypewriter-CondensedBold</string>
					<key>Size</key>
					<integer>10</integer>
					<key>Color</key>
					<string>245,241,232</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{0,324},{253,13}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
			</dict>
			<key>Location</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>AmericanTypewriter-CondensedBold</string>
					<key>Size</key>
					<integer>10</integer>
					<key>Color</key>
					<string>245,241,232</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{0,336},{253,13}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>AmericanTypewriter-Bold</string>
					<key>Size</key>
					<real>17</real>
					<key>Color</key>
					<string>65,40,27</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{32,240},{187,24}}</string>
			</dict>
			<key>Text</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>AmericanTypewriter-Bold</string>
					<key>Size</key>
					<real>10</real>
					<key>Color</key>
					<string>65,40,27</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>top</string>
					<key>NumberOfLines</key>
					<string>4</string>
					<key>LineHeight</key>
					<string>12</string>
				</dict>
				<key>Rect</key>
				<string>{{32,265},{187,50}}</string>
			</dict>
			<key>CustomImage</key>
			<dict>
				<key>Rect</key>
				<string>{{40,68},{172,112}}</string>
				<key>DefaultImage</key>
				<string>invitations_card3_template_default_image.jpg</string>
			</dict>
			<key>Defaults</key>
			<dict>
				<key>Text</key>
				<string>Bitte bringt einen Salat und gute Laune mit, für alles Andere ist gesorgt! Wir freuen uns auf Euch!
Sabine &amp; Peter</string>
				<key>Title</key>
				<string>Grillparty</string>
				<key>City</key>
				<string>12345 Musterhausen</string>
				<key>Street</key>
				<string>Musterhausenstraße 123b</string>
				<key>Time</key>
				<string>ab 18.00 Uhr</string>
				<key>Date</key>
				<string>Samstag 24.08.2013</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Comment</key>
		<string>Gartenzaun</string>
		<key>Preview</key>
		<dict>
			<key>Thumbnail</key>
			<string>invitations_card4_thumbnail.png</string>
			<key>Large</key>
			<string>invitations_card4_large.png</string>
		</dict>
		<key>Elements</key>
		<dict>
			<key>BackgroundImage</key>
			<string>invitations_card4_template_background.png</string>
			<key>DateAndTime</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-Medium</string>
					<key>Size</key>
					<real>10.5</real>
					<key>Color</key>
					<string>64,64,64</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,8},{229,16}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
			</dict>
			<key>Location</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedMedium</string>
					<key>Size</key>
					<integer>12</integer>
					<key>Color</key>
					<string>255,255,255</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,324},{229,32}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Chalkduster</string>
					<key>Size</key>
					<real>20.5</real>
					<key>Color</key>
					<string>255,255,255</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{52,97},{140,61}}</string>
				<key>Rotation</key>
				<integer>-15</integer>
			</dict>
			<key>Text</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedMedium</string>
					<key>Size</key>
					<real>10.5</real>
					<key>Color</key>
					<string>64,64,64</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>top</string>
					<key>NumberOfLines</key>
					<string>4</string>
					<key>LineHeight</key>
					<string>13</string>
				</dict>
				<key>Rect</key>
				<string>{{12,265},{229,259}}</string>
			</dict>
			<key>Defaults</key>
			<dict>
				<key>Text</key>
				<string>Die Sonne lacht, das Wochenende steht vor der Tür und Grillgut füllt die Auslagen der Supermärkte. Was läge also näher den guten Landmann anzufeuern und einen herrlichen Grillabend mit Freunden zu verbringen? Wir denken…NICHT‘S!</string>
				<key>Title</key>
				<string>Grillparty</string>
				<key>City</key>
				<string>12345 Musterhausen</string>
				<key>Street</key>
				<string>Musterhausenstraße 123b</string>
				<key>Time</key>
				<string>ab 18.00 Uhr</string>
				<key>Date</key>
				<string>Samstag 24.08.2013</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Comment</key>
		<string>Cowboy</string>
		<key>Preview</key>
		<dict>
			<key>Thumbnail</key>
			<string>invitations_card5_thumbnail.png</string>
			<key>Large</key>
			<string>invitations_card5_large.png</string>
		</dict>
		<key>Elements</key>
		<dict>
			<key>BackgroundImage</key>
			<string>invitations_card5_template_background.jpg</string>
			<key>Date</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>HelveticaNeue-Bold</string>
					<key>Size</key>
					<integer>15</integer>
					<key>Color</key>
					<string>0,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>left</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,110},{86,16}}</string>
			</dict>
			<key>Time</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>HelveticaNeue-Bold</string>
					<key>Size</key>
					<real>8.5</real>
					<key>Color</key>
					<string>0,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>left</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,181},{45,16}}</string>
			</dict>
			<key>Street</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>HelveticaNeue-Bold</string>
					<key>Size</key>
					<real>8.5</real>
					<key>Color</key>
					<string>0,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>left</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,143},{98,16}}</string>
			</dict>
			<key>City</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>HelveticaNeue-Bold</string>
					<key>Size</key>
					<real>8.5</real>
					<key>Color</key>
					<string>0,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>left</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,154},{114,16}}</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>HelveticaNeue-Bold</string>
					<key>Size</key>
					<integer>15</integer>
					<key>Color</key>
					<string>0,0,0</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>left</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,127},{114,16}}</string>
			</dict>
			<key>Defaults</key>
			<dict>
				<key>Title</key>
				<string>BEI ANDREAS</string>
				<key>City</key>
				<string>12345 MUSTERHAUSEN</string>
				<key>Street</key>
				<string>Musterstr. 123</string>
				<key>Time</key>
				<string>18.00 Uhr</string>
				<key>Date</key>
				<string>07.06.2013</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Comment</key>
		<string>Banderole</string>
		<key>Preview</key>
		<dict>
			<key>Thumbnail</key>
			<string>invitations_card6_thumbnail.png</string>
			<key>Large</key>
			<string>invitations_card6_large.png</string>
		</dict>
		<key>Elements</key>
		<dict>
			<key>BackgroundImage</key>
			<string>invitations_card6_template_background.png</string>
			<key>DateAndTime</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedExtraBold</string>
					<key>Size</key>
					<real>9.5</real>
					<key>Color</key>
					<string>255,255,255</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{50,230},{161,13}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
			</dict>
			<key>Location</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>Futura-CondensedExtraBold</string>
					<key>Size</key>
					<real>9.5</real>
					<key>Color</key>
					<string>255,255,255</string>
				</dict>
				<key>Paragraph</key>
				<dict>
					<key>HAlignment</key>
					<string>center</string>
					<key>VAlignment</key>
					<string>middle</string>
					<key>NumberOfLines</key>
					<string>1</string>
				</dict>
				<key>Rect</key>
				<string>{{12,292},{229,13}}</string>
				<key>SeparatorChar</key>
				<string>•</string>
			</dict>
			<key>CustomImage</key>
			<dict>
				<key>Rect</key>
				<string>{{0,0},{253,357}}</string>
				<key>DefaultImage</key>
				<string>invitations_card6_template_default_image.jpg</string>
			</dict>
			<key>Defaults</key>
			<dict>
				<key>City</key>
				<string>12345 Musterhausen</string>
				<key>Street</key>
				<string>Musterhausenstraße 123</string>
				<key>Time</key>
				<string>ab 18.00 Uhr</string>
				<key>Date</key>
				<string>Samstag 24.08.2013</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
