<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<dict>
		<key>NavigationBar</key>
		<dict>
			<key>Background</key>
			<string>navigation_bar_background.png</string>
			<key>BackButton</key>
			<string>navigation_bar_back_button.png</string>
			<key>MainMenuImage</key>
			<string>navbar_mainmenu_background.png</string>
			<key>EditButton</key>
			<string>shopping_navbar_button_edit.png</string>
			<key>CheckButton</key>
			<string>shopping_navbar_button_check.png</string>
			<key>AddButton</key>
			<string>shopping_navbar_button_add.png</string>
			<key>GrilltipsImage</key>
			<string>grilltips_navibar_background.png</string>
			<key>FeuervogelImage</key>
			<string>feuervogel.png</string>
		</dict>
		<key>TabBar</key>
		<dict>
			<key>Icons</key>
			<dict>
				<key>Home</key>
				<string>tabbar_icon_home.png</string>
				<key>HomeSelected</key>
				<string>tabbar_icon_home_selected.png</string>
				<key>Invitations</key>
				<string>tabbar_icon_invitations.png</string>
				<key>InvitationsSelected</key>
				<string>tabbar_icon_invitations_selected.png</string>
				<key>Shopping</key>
				<string>tabbar_icon_shopping.png</string>
				<key>ShoppingSelected</key>
				<string>tabbar_icon_shopping_selected.png</string>
				<key>Share</key>
				<string>tabbar_icon_share.png</string>
				<key>ShareSelected</key>
				<string>tabbar_icon_share_selected.png</string>
				<key>ShareDisabled</key>
				<string>tabbar_icon_share_disabled.png</string>
			</dict>
		</dict>
		<key>Recipes</key>
		<dict>
			<key>RecipeInfoBar</key>
			<dict>
				<key>Background</key>
				<string>recipes_info_bar_background.png</string>
				<key>Icons</key>
				<dict>
					<key>Clock</key>
					<string>recipes_info_bar_icon_clock.png</string>
					<key>Flame</key>
					<string>recipes_info_bar_icon_flame.png</string>
					<key>Euro</key>
					<string>recipes_info_bar_icon_euro.png</string>
				</dict>
				<key>Difficulty</key>
				<dict>
					<key>1</key>
					<string>recipe_categories_icon_1hat.png</string>
					<key>2</key>
					<string>recipe_categories_icon_2hat.png</string>
					<key>3</key>
					<string>recipe_categories_icon_3hat.png</string>
					<key>4</key>
					<string>recipe_categories_icon_4hat.png</string>
				</dict>
			</dict>
		</dict>
		<key>MainMenu</key>
		<dict>
			<key>TableViewImage</key>
			<string>mainmenu_tableview_image.png</string>
			<key>TableViewImageSelected</key>
			<string>mainmenu_tableview_image_selected.png</string>
			<key>Cells</key>
			<dict>
				<key>Favorites</key>
				<string>mainmenu_cell_favorites.png</string>
				<key>FavoritesSelected</key>
				<string>mainmenu_cell_favorites_selected.png</string>
				<key>Recipes</key>
				<string>mainmenu_cell_recipes.png</string>
				<key>RecipesSelected</key>
				<string>mainmenu_cell_recipes_selected.png</string>
				<key>Recommendations</key>
				<string>mainmenu_cell_recommendations.png</string>
				<key>RecommendationsSelected</key>
				<string>mainmenu_cell_recommendations_selected.png</string>
				<key>Shopping</key>
				<string>mainmenu_cell_shopping.png</string>
				<key>ShoppingSelected</key>
				<string>mainmenu_cell_shopping_selected.png</string>
				<key>Grilltips</key>
				<string>mainmenu_cell_grilltips.png</string>
				<key>GrilltipsSelected</key>
				<string>mainmenu_cell_grilltips_selected.png</string>
				<key>Invitations</key>
				<string>mainmenu_cell_invitations.png</string>
				<key>InvitationsSelected</key>
				<string>mainmenu_cell_invitations_selected.png</string>
				<key>Facebook</key>
				<string>mainmenu_cell_facebook.png</string>
				<key>FacebookSelected</key>
				<string>mainmenu_cell_facebook_selected.png</string>
				<key>Landmann</key>
				<string>mainmenu_cell_landmann.png</string>
				<key>LandmannSelected</key>
				<string>mainmenu_cell_landmann_selected.png</string>
				<key>Settings</key>
				<string>mainmenu_cell_settings.png</string>
				<key>SettingsSelected</key>
				<string>mainmenu_cell_settings_selected.png</string>
				<key>RecommendApp</key>
				<string>mainmenu_cell_recommend_app.png</string>
				<key>RecommendAppSelected</key>
				<string>mainmenu_cell_recommend_app_selected.png</string>
			</dict>
			<key>Image</key>
			<string>mainmenu_image.jpg</string>
		</dict>
		<key>RecipeCategories</key>
		<dict>
			<key>TableViewImage</key>
			<string>recipe_categories_tableview_image.png</string>
			<key>TableViewImageSelected</key>
			<string>recipe_categories_tableview_image_selected.png</string>
		</dict>
		<key>RecipeStream</key>
		<dict>
			<key>TitleBackground</key>
			<string>recipe_stream_title_background</string>
			<key>ItemBackground</key>
			<string>recipe_stream_item_background</string>
		</dict>
		<key>RecipeMenu</key>
		<dict>
			<key>SectionSeparator</key>
			<string>recipe_menu_section_separator.png</string>
			<key>Cells</key>
			<dict>
				<key>Background</key>
				<string>recipe_menu_cell_background.png</string>
				<key>BackgroundSelected</key>
				<string>recipe_menu_cell_background_selected.png</string>
				<key>Icons</key>
				<dict>
					<key>Difficulty1</key>
					<string>recipe_menu_cell_difficulty1.png</string>
					<key>Difficulty1Red</key>
					<string>recipe_menu_cell_difficulty1_red.png</string>
					<key>Difficulty2</key>
					<string>recipe_menu_cell_difficulty2.png</string>
					<key>Difficulty2Red</key>
					<string>recipe_menu_cell_difficulty2_red.png</string>
					<key>Difficulty3</key>
					<string>recipe_menu_cell_difficulty3.png</string>
					<key>Difficulty3Red</key>
					<string>recipe_menu_cell_difficulty3_red.png</string>
					<key>Difficulty4</key>
					<string>recipe_menu_cell_difficulty4.png</string>
					<key>Difficulty4Red</key>
					<string>recipe_menu_cell_difficulty4_red.png</string>
				</dict>
			</dict>
			<key>TableView</key>
			<dict>
				<key>Overlay</key>
				<string>recipe_menu_tableview_frame.png</string>
			</dict>
		</dict>
		<key>Shopping</key>
		<dict>
			<key>SectionHeader</key>
			<dict>
				<key>Background</key>
				<string>shopping_ingredients_section_background.png</string>
			</dict>
			<key>IngredientsSeparator</key>
			<string>shopping_ingredients_separator</string>
		</dict>
		<key>Invitations</key>
		<dict>
			<key>List</key>
			<dict>
				<key>ShadowBackground</key>
				<string>invitations_card_shadow_background.png</string>
				<key>ListBackground</key>
				<string>invitations_cardlist_background.png</string>
			</dict>
			<key>Edit</key>
			<dict>
				<key>Form</key>
				<dict>
					<key>Background</key>
					<string>invitations_edit_form_background.png</string>
					<key>TextField</key>
					<dict>
						<key>Background</key>
						<string>invitations_edit_form_field_background.png</string>
						<key>BackgroundSelected</key>
						<string>invitations_edit_form_field_background_selected.png</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>Grilltips</key>
		<dict>
			<key>Menu</key>
			<dict>
				<key>Image</key>
				<string>grilltips_menu_image.png</string>
			</dict>
		</dict>
	</dict>
	<key>Dictionaries</key>
	<dict>
		<key>Strings</key>
		<dict>
			<key>Recommend</key>
			<dict>
				<key>AlertTitle</key>
				<string>Einem Freund empfehlen</string>
				<key>CheckEmailSettings</key>
				<string>Bitte überprüfen Sie Ihre E-Mail-Einstellungen und versuchen Sie es erneut!</string>
				<key>ErrorEmailSettings</key>
				<string>Es ist ein Fehler aufgetreten! Bitte überprüfen Sie Ihre E-Mail-Einstellungen und versuchen Sie es erneut!</string>
				<key>ThanksForRecommending</key>
				<string>Danke für die Empfehlung unseres Produktes!</string>
				<key>BodyFile</key>
				<string>recommendation.txt</string>
				<key>Subject</key>
				<string>Schau dir doch mal diese kostenlose Grill-App von LANDMANN an</string>
			</dict>
		</dict>
		<key>Arrays</key>
		<dict>
			<key>RecommendedRecipes</key>
			<array>
				<integer>11</integer>
				<integer>17</integer>
				<integer>7</integer>
			</array>
		</dict>
	</dict>
</dict>
</plist>
